<% provide(:title, 'Blog') %>

  <div class= "row blog-container">
      <div class="col-md-6 col-md-offset-2">
        <div class="article-body">
          <div class="article-title">
            <h2><%= @article.title.html_safe %></h2>
          </div>
          <div>
            <%= @article.text.html_safe %>
          </div>
        </div>
      </div>

      <div class="col-md-2" id="article-listing">
        <h3>Recent Posts</h3>
        <table>
          <tbody>
          <% @articles.each do |article| %>
            <td><%=link_to article.title, article_path(article)%></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <!-- side nav to edit and list blog posting; for admin only -->
  <div class="sidenav" id="blog-sidenav">
    <%= link_to "&times;".html_safe, "javascript:closeNav()", class: "closebtn" %>
    <%= link_to "Edit", edit_article_path(@article) %>
    <%= link_to "Article Listing", articles_path %>
  </div>

  <div class="row">
    <div class= "col-md-6 col-md-offset-2">
        <%= render "disqus" %>
    </div>
  </div>
