<% provide(:title, "Home") %>

<div class="container-fluid">
  <div class="row">
    <%= image_tag('gl_layingBatonWeb', alt: "Glenn Langdon with baton", class: "img-responsive
     center-block", id: "splash-img") %>
  </div>
  <div class="row" id="page2">
    <div class="col-md-12" id="bio">
      <h1>About Glenn</h2>
        <div>
          <%= image_tag("gl_pub_pic", alt: "Picture of Glenn Langdon", class: "img-responsive
          img-rounded", id: "bio-pic") %>
        </div>
        <p class="lead">Praised for his polished, expressive, and nuanced performances, conductor Glenn Langdon&rsquo;s unusually
          varied repertoire highlights an eclectic musical aesthetic and singularly American heritage.  From directing performances
          of the<em> Rite of Spring</em> and <em>Carmina Burana</em>, to the jazz of Kermit Ruffins and the cajun fiddle tunes of
          Amanda Shaw, Langdon is fully &quot;at home.&quot;  His conducting credits include The Cleveland Orchestra, the BBC Scottish
          National Orchestra,  the Kennedy Center Opera House Orchestra, and the Louisiana Philharmonic Orchestrain addition to
          Broadway touring shows, ballet orchestras, and pops concerts. Outside the US, Langdon has conducted the Singapore Orchestra,
          L'Orchestre National de Lyon, the Orchestra Sinfonica di Sanremo in Italy, and the Stavanger Symphony in Norway.</p>
        <p class="has-pullquote" data-pullquote="An eclectic musical aesthetic and singularly American heritage"></p>
        <p> A veteran of touring Broadway shows, Langdon was <span class="bio-text-highlight">Music Director</span> of the
          touring production of <span class="bio-text-highlight">Andrew Lloyd Weber's the <em>Phantom of the Opera</em>.</span> On
          tour, Glenn traveled to over 60 cities in the United States and Canada over 14 years, conducting close to 5000 performances
          of the world's most successful Broadway musical productions.</p>
        <p>With his wide musical curiosity and a strong interest in story telling, Langdon was inevitably drawn to work in the
          field of dance as well.  As <span class="bio-text-highlight">Music Director and principal conductor of the Houston
          Ballet</span> he conducted the breadth of the classical repertory and distinguished himself with performances of the 20th
          century works by Stravinsky, Orff, and Prokofiev. Collaborating with jazz legend Cleo Laine and her husband John Dankworth,
          Langdon led the premiere of a dance theater piece, <em>Lady In Waiting</em>, in Houston, Texas and conducted the
          world premier of the ballet <em>Gautama Buddha</em> by British composer Naresh Sohal at the Edinburgh Festival in Scotland.</p>

          <div class="img hover-img" id="gl-cond-LPO-Nut">
            <%= image_tag("GLconducts_250x313.jpg", alt: "Glenn Langdon conducting the LPO", class: "center-block img-rounded") %>
                  <div class="caption-global text-center" id="bio-caption">
                  <p>Conducting the Louisiana Philharmonic Orchestra</p>
                  </div>
          </div>
              <p>Langdon&rsquo;s interest in bringing music to audiences in non-traditional venues began when he was
              <span class="bio-text-highlight">Music Director of the Texas Opera Theatre Residency Company,</span> a regional
              affiliate of the Houston Grand Opera. Touring throughout Texas and the immediate Southwest, Langdon and a small
              troupe of singers and production personnel performed light opera and musical theatre excerpts in locations as diverse
              as senior citizen centers, high schools, opera houses and small German-Texas beer halls. Programs with original
              music, props, costumes and inventive staging were produced in classrooms, introducing hundreds of school children
              to the arts.</p>
          <div class="img hover-img" id="cotton-field-img">
            <%= image_tag("gl_cotton_fields", alt: "Glenn Langdon inspecting cotton fields during harvest.",
                class: "img-rounded img-responsive") %>
              <!-- # <img src="images/gl_cotton_fields.jpg" class="img-rounded img-responsive" alt="Glenn Langdon inspected cotton fields during harvest."> -->
                  <div class="caption-global caption text-center">
                    <p> Inspecting the cotton crop with his long-time farmer, Tommy Wilkins.
                    </p>
                  </div>
          </div>
              <p><span class="bio-text-highlight">Hailing from generations of cotton farmers,</span> Langdon cares deeply about
              sustainability in agriculture for the future of America's farmlands. And as a musician, he's committed to making the arts accessible to all and the sustainability of the arts for the
              soul of the country.</p>
              <p>Langdon graduated from Florida State University and attended the University of Houston, studying piano with
              James Streem, Carlisle Floyd and Abbey Simon.  His conducting studies included work at the Tanglewood Music Center,
              L'Accademia Musicale Chigiana in Siena, Italy and the Centre Acanthes in Avignon,
              France, where Glenn was mentored by Leonard Bernstein, Seiji Ozawa, Gustav Meier, Franco Ferrara, and Pierre Boulez.</p>
       </div><!--col-md-12-->
  </div><!--row page2-->

  <p>
    <%= link_to "Glenn's Blog", articles_path %>
  </p>
</div>
