<% provide(:title, "Home") %>

  <div class="row">
    <div>
      <%= image_tag('gl_layingBatonWebText.jpg', alt: "Glenn Langdon with baton", class: "img-responsive
       center-block", id: "splash-img") %>
    </div>
  </div>

  <%= render 'bio_section' %>
  <%= render 'recital_parallax' %>
  <%= render 'media_section' %>
  <%= render 'news_section' %>
  <%= render 'chandelier_parallax' %>
  <%= render 'blog_section' %>
  <%= render 'contact_section' %>
